//
// Header Navigation [FEATURE-nav-1]
//
.header-meta {
    ul {
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        margin: 0;
        padding: 0;
        li {
            &:not(:last-child) {
                margin-right: $list-inline-padding;
            }
        }
    }
    .active a {
        font-weight: $font-weight-bold;
    }
}

.header-meta-link-title {
    display: inline-flex;
    align-items: center;
    gap: .25em;
}
.header-meta-icon {
    svg {
        display: block;
    }
}
