//
// Pager / Pagination
// --------------------------------------------------
nav > .pagination {
    margin-bottom: 0;
    flex-wrap: wrap;
    > li {
        // Hide "prev" and "next" on mobile devices to enable more items on smaller displays [TASK-css-3]
        &.previous,
        &.next {
            @extend .d-none, .d-sm-block;
        }
    }
}
