<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Provide layout template [TASK-search-4]</f:comment>
<f:layout name="Default" />
<f:section name="Main">
	<f:render partial="Form" arguments="{_all}" />
</f:section>
</html>
