//
// Button
// --------------------------------------------------

//
// Optimize buttons: Spacing to buttons in new line [TASK-css-11]
//
:not(.input-group) {
    > .btn {
        margin-top: .25rem;
        margin-bottom: .25rem;
    }
}

.btn-default {
    @include button-variant($default, $default);
}
.btn-outline-default {
    @include button-outline-variant($default);
}
.btn-icon {
    margin-right: .25em;
    svg {
        vertical-align: text-top;
        display: inline-block;
        height: 1.25em;
        width: 1.25em;
    }
}
