//
// Variables
// --------------------------------------------------
$carousel-item-layouts: () !default;
$carousel-item-layouts: map-merge(
    (
        'primary': (
            'background':       $primary,
            'color':            color-contrast($primary),
            'link-color':       color-contrast($primary),
            'link-hover-color': color-contrast($primary)
        ),
        'secondary': (
            'background':       $secondary,
            'color':            color-contrast($secondary),
            'link-color':       color-contrast($secondary),
            'link-hover-color': color-contrast($secondary)
        ),
        'tertiary': (
            'background':       $tertiary,
            'color':            color-contrast($tertiary),
            'link-color':       color-contrast($tertiary),
            'link-hover-color': color-contrast($tertiary)
        ),
        'quaternary': (
            'background':       $quaternary,
            'color':            color-contrast($quaternary),
            'link-color':       color-contrast($quaternary),
            'link-hover-color': color-contrast($quaternary)
        ),
        'light': (
            'background':       $light,
            'color':            $body-color,
            'link-color':       $link-color,
            'link-hover-color': $link-hover-color
        ),
        'dark': (
            'background':       $dark,
            'color':            color-contrast($dark),
            'link-color':       $link-color,
            'link-hover-color': $link-hover-color
        )
    ),
    $carousel-item-layouts
);

//
// Carousel
// --------------------------------------------------
.carousel {
    .item {
        height: 400px;
        @include media-breakpoint-up(md) {
            height: 600px;
        }
    }
}
.carousel-small {
    .item {
        height: 300px;
        @include media-breakpoint-up(md) {
            height: 400px;
        }
    }
}
.carousel-fullscreen {
    .item {
        height: 100vh;
    }
}

//
// Carousel Item
// --------------------------------------------------
.carousel {
    .carousel-item {
        padding-left: ($grid-gutter-width / 2);
        padding-right: ($grid-gutter-width / 2);
        @include media-breakpoint-up(sm) {
            padding-left: 0;
            padding-right: 0;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: inherit;
            margin-top: 0;
        }
        a {
            text-decoration: none;
        }
    }
}

//
// Carousel Fade
// --------------------------------------------------
.carousel-fade {
    .carousel-item {
        perspective: initial !important;
        transform: initial !important;
    }
}

//
// Carousel Item Layouts
// --------------------------------------------------
:root {
    --carousel-item-color: inherit;
    --carousel-item-background: inherit;
    --carousel-item-link-color: inherit;
    --carousel-item-link-hover-color: inherit;
}
.carousel-item {
    background-color: var(--carousel-item-background);
    color: var(--carousel-item-color);
    a[class=""],
    a:not([class]) {
        color: var(--carousel-item-link-color);
        &:hover {
            color: var(--carousel-item-link-hover-color);
        }
    }
}
@each $name, $settings in $carousel-item-layouts {
    .carousel-item-layout-#{$name} {
        $tmp-color: map-get($settings, 'color');
        $tmp-background: map-get($settings, 'background');
        $tmp-link-color: map-get($settings, 'link-color');
        $tmp-link-hover-color: map-get($settings, 'link-hover-color');
        @if ($tmp-color) {
            --carousel-item-color: #{$tmp-color};
        }
        @if ($tmp-background) {
            --carousel-item-background: #{$tmp-background};
        }
        @if ($tmp-link-color) {
            --carousel-item-link-color: #{$tmp-link-color};
        }
        @if ($tmp-link-hover-color) {
            --carousel-item-link-hover-color: #{$tmp-link-hover-color};
        }
    }
}

//
// Carousel Backgroundimage
// --------------------------------------------------
.carousel {
    .carousel-backgroundimage-container {
        overflow: hidden;
    }
    .carousel-backgroundimage-container,
    .carousel-backgroundimage {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
    }
    .carousel-backgroundimage-fade {
        opacity: .125;
    }
    .carousel-backgroundimage-parallax {
        background-attachment: fixed;
        @media (hover: none) {
            background-attachment: initial;
        }
        background-repeat: no-repeat;
    }
    .carousel-backgroundimage-blur {
        filter: blur(10px);
        width: calc(100% + 40px);
        height: calc(100% + 40px);
        top: -20px;
        left: -20px;
    }
    .carousel-backgroundimage-grayscale {
        filter: grayscale(1);
    }
    .carousel-backgroundimage-sepia {
        filter: sepia(1);
    }
}

//
// Carousel Content
// --------------------------------------------------
.carousel {
    .carousel-content {
        position: relative;
        height: 100%;
        padding: 0 $carousel-control-width;
    }
    .carousel-content-inner {
        display: flex;
        height: 100%;
        align-items: center;
        gap: $spacer;
        margin: 0 auto;
        @each $breakpoint, $container-max-width in $container-max-widths {
            @include media-breakpoint-up($breakpoint) {
                max-width: $container-max-width - $grid-gutter-width;
            }
        }
    }
}

//
// Carousel Text
// --------------------------------------------------
.carousel-item-bodytext {
    > *:last-child {
        margin-bottom: 0;
    }
}

//
// Carousel Navigation
// --------------------------------------------------
.carousel {
    overflow: hidden;
    .carousel-indicators {
        li {
            overflow: hidden;
        }
    }
    .carousel-control,
    .carousel-indicators {
        @include transition(opacity .2s ease-in-out 0s);
        z-index: 1;
        opacity: 0;
    }
    &:hover {
        .carousel-indicators,
        .carousel-control {
            opacity: 1;
        }
    }
    .carousel-control-icon {
        position: absolute;
        top: 50%;
        transform: translate(0, -50%);
        width: auto;
        height: auto;
        color: $primary;
        padding: 1em;
        background-color: $carousel-control-color;
        @include transition();
        &:before {
            transform: rotate(45deg);
            content: '';
            width: .5em;
            height: .5em;
            display: block;
            border-top: 1px solid $primary;
            border-right: 1px solid $primary;
        }
    }
    .carousel-control-prev .carousel-control-icon {
        left: -100%;
        &:before {
            transform: rotate(225deg);
        }
    }
    .carousel-control-next .carousel-control-icon {
        right: -100%;
        &:before {
            transform: rotate(45deg);
        }
    }
    &:hover {
        .carousel-control-prev .carousel-control-icon {
            left: 0;
        }
        .carousel-control-next .carousel-control-icon {
            right: 0;
        }
    }
    .carousel-indicators-navigation {
        left: 0;
        right: 0;
        bottom: 0;
        padding: 0 ($grid-gutter-width / 2);
        margin: 0;
        width: 100%;
        z-index: 15;
        opacity: 1;
        color: $carousel-caption-color;
        background-color: rgba(0, 0, 0, .5);
        display: flex;
        justify-content: center;
        > li {
            overflow: visible;
            padding: .75em;
            margin: 0;
            text-indent: 0;
            width: auto;
            height: auto;
            background-color: transparent;
            cursor: pointer;
            &.active:before {
                content: '';
                position: absolute;
                top: auto;
                bottom: 0;
                left: .75em;
                right: .75em;
                width: auto;
                border-top: 1px solid $primary;
            }
            &:first-child {
                padding-left: 0;
                &:before {
                    left: 0;
                }
            }
            &:last-child {
                padding-right: 0;
                &:before {
                    right: 0;
                }
            }
        }
    }
}

//
// Type: Header
// --------------------------------------------------
.carousel-item-type-header {
    a[class=""],
    a:not([class]) {
        &,
        &:hover {
            color: var(--carousel-item-color);
        }
    }
    .carousel-text-inner {
        margin: 0 auto;
        @include media-breakpoint-up(md) {
            width: 80%;
        }
        @include media-breakpoint-up(lg) {
            width: 65%;
        }
    }
}

//
// Type: Text
// --------------------------------------------------
.carousel-item-type-text {
    .carousel-text-inner {
        margin: 0 auto;
        @include media-breakpoint-up(md) {
            width: 80%;
        }
        @include media-breakpoint-up(lg) {
            width: 65%;
        }
    }
}

//
// Type: Text and Image
// --------------------------------------------------
.carousel-item-type-text_and_image {
    .carousel-image {
        display: none;
        img {
            margin: 0 auto;
            max-width: 100%;
            display: block;
            height: auto;
        }
        @include media-breakpoint-up(sm) {
            display: block;
        }
    }
}

//
// Type: Background Image
// --------------------------------------------------
.carousel-item-type-background_image {
    a {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
    }
}

//
// Type: Call to Action
// --------------------------------------------------
.carousel-item-type-call_to_action {
    .carousel-box {
        color: $body-color;
        background-color: $body-bg;
        padding: 2rem;
        @include media-breakpoint-up(sm) {
            max-width: 50%;
        }
        .carousel-item-bodytext {
            margin-bottom: $spacer;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }
}

//
// Type: Image
// --------------------------------------------------
.carousel-item-type-image {
    .carousel-image {
        width: 100%;
        img {
            margin: 0 auto;
            max-width: 100%;
            display: block;
            height: auto;
        }
    }
}
