//
// Figure
// --------------------------------------------------
figure {
    display: block;
    margin-bottom: $spacer;
    img,
    picture {
        display: block;
        height: auto;
        max-width: 100%;
        margin: 0 auto;
    }
}
.figure-img {
    margin: 0;
}
.figure-caption {
    margin-top: $spacer * .5;
}
