//
// Footer Variables
// --------------------------------------------------
$footer-sections: () !default;
$footer-sections: map-merge(
    (
        'content': (
            'background':   $dark,
            'color':        color-contrast($dark),
            'link-color':   $link-color
        ),
        'meta': (
            'background':   $darker,
            'color':        color-contrast($darker),
            'link-color':   $link-color
        )
    ),
    $footer-sections
);

//
// Footer
// --------------------------------------------------
#page-footer {}

//
// Footer Sections
// --------------------------------------------------
@each $name, $settings in $footer-sections {
    .footer-section-#{$name} {
        background-color: #{map-get($settings, 'background')};
        --frame-color: #{map-get($settings, 'color')};
        --frame-background: #{map-get($settings, 'background')};
        --frame-link-color: #{map-get($settings, 'link-color')};
        --frame-link-hover-color: #{darken(map-get($settings, 'link-color'), 3%)};
    }
}

//
// Footer Section Meta
// --------------------------------------------------
.footer-section-meta {
    padding-bottom: 4rem; // Additional padding for cookie hint
    @include media-breakpoint-up('sm') {
        text-align: center;
    }
    .frame-inner > *:not(:first-child) {
        margin-top: 1rem;
    }
}

//
// Footer Copyright
// --------------------------------------------------
.footer-copyright {
    p {
        margin-bottom: 0;
    }
}

//
// Footer Social Links
// --------------------------------------------------
#page-footer .sociallinks-list {
    justify-content: center;
    .sociallinks-item {
        width: auto;
        margin: 0 $spacer/2;
    }
}
