//
// Lightbox
// --------------------------------------------------

//
// Icon for images with lightbox [FEATURE-lightbox-3]
//
.lightbox {
    position: relative;
    display: block;
    .expand {
        position: absolute;
        top: auto;
        bottom: $grid-gutter-width/2;
        right: $grid-gutter-width/2;
        @include transition();
        filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, .7));
    }
}
