//
// Variables
// --------------------------------------------------
$link-info-icon-color:      $info;
$link-info-icon:            url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='#{$link-info-icon-color}'><path d='M8 2c3.3 0 6 2.7 6 6s-2.7 6-6 6-6-2.7-6-6 2.7-6 6-6m0-1C4.1 1 1 4.1 1 8s3.1 7 7 7 7-3.1 7-7-3.1-7-7-7z'/><path d='M7 5a1 1 0 1 1 2 0 1 1 0 1 1-2 0zM7 8a1 1 0 1 1 2 0v3a1 1 0 1 1-2 0V8z'/></g></svg>");
$link-check-icon-color:     $success;
$link-check-icon:           url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='#{$link-check-icon-color}'><path d='M13.3 4.8l-.7-.7c-.2-.2-.5-.2-.7 0L6.5 9.5 4 6.9c-.2-.2-.5-.2-.7 0l-.6.7c-.2.2-.2.5 0 .7l3.6 3.6c.2.2.5.2.7 0l6.4-6.4c.1-.2.1-.5-.1-.7z'/></g></svg>");
$link-warning-icon-color:   $warning;
$link-warning-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='#{$link-warning-icon-color}'><circle cx='8' cy='12' r='1'/><path d='M8.5 10h-1l-.445-4.45A.5.5 0 0 1 7.552 5h.896a.5.5 0 0 1 .497.55L8.5 10z'/><path d='M8 2.008a.98.98 0 0 1 .875.515l5.536 9.992a.983.983 0 0 1-.013.993.983.983 0 0 1-.862.492H2.464a.983.983 0 0 1-.862-.492.983.983 0 0 1-.013-.993l5.536-9.992A.98.98 0 0 1 8 2.008m0-1a1.98 1.98 0 0 0-1.75 1.03L.715 12.032C-.024 13.364.94 15 2.464 15h11.072c1.524 0 2.488-1.636 1.75-2.97L9.749 2.04A1.98 1.98 0 0 0 8 1.009z'/></g></svg>");
$link-ban-icon-color:       $danger;
$link-ban-icon:             url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='#{$link-ban-icon-color}'><path d='M8 2C4.7 2 2 4.7 2 8s2.7 6 6 6 6-2.7 6-6-2.7-6-6-6zm4.5 6c0 .9-.3 1.8-.8 2.5L5.5 4.3c.7-.5 1.6-.8 2.5-.8 2.5 0 4.5 2 4.5 4.5zm-9 0c0-.9.3-1.8.8-2.5l6.2 6.2c-.7.5-1.6.8-2.5.8-2.5 0-4.5-2-4.5-4.5z'/></g></svg>");
$link-chevron-icon-color:   $primary;
$link-chevron-icon:         url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'><g fill='#{$link-chevron-icon-color}'><path d='M9.586 8L6.05 11.536l.707.707L11 8 6.757 3.757l-.707.707z'/></g></svg>");

//
// List
// --------------------------------------------------
ul.list-inline > li {
    @extend .list-inline-item;
    margin-bottom: 1px;
}

ul.typo3-messages {
    @extend .list-unstyled;
    p.alert-message {
        margin-bottom: 0;
    }
}

//
// Variants
// --------------------------------------------------
.list-info,
.list-check,
.list-warning,
.list-ban,
.list-chevron {
    list-style: none;
    padding: 0;
    > li {
        clear: both;
        position: relative;
        padding-left: 1.35em;
        &:before {
            display: block;
            content: '';
            float: left;
            margin-top: .25em;
            margin-left: -1.35em;
            width: 1em;
            height: 1em;
        }
    }
}
.list-info > li:before {
    background-image: escape-svg($link-info-icon);
}
.list-check > li:before {
    background-image: escape-svg($link-check-icon);
}
.list-warning > li:before {
    background-image: escape-svg($link-warning-icon);
}
.list-ban > li:before {
    background-image: escape-svg($link-ban-icon);
}
.list-chevron > li:before {
    background-image: escape-svg($link-chevron-icon);
}
