//
// Body
// --------------------------------------------------
body {
    word-wrap: break-word;
    word-break: break-word;
    hyphens: auto; // Automatic hyphenation for words [TASK-css-4]
}

//
// Iframe
// --------------------------------------------------
iframe {
    border: 0;
}

//
// Page content
//
#page-content {
    padding: 2 * $spacer 0 $spacer 0;
}

//
// Scroll top (from content element)
// Add class and icon [TASK-template-6]
//
.linkToTop {
    a {
        text-decoration: none;
    }
    svg {
        border: 1px solid $primary;
        height: 25px;
        width: auto;
        padding: 5px;
        margin-top: -4px;
    }
    &:hover svg {
        border-color: $link-hover-color;
    }
}

//
// Admin Panel
//
#TSFE_ADMIN_PANEL_FORM {
    hyphens: initial; // Automatic hyphenation for words [TASK-css-4]
    &:not(.typo3-adminPanel-active) .typo3-adminPanel-bar {
        right: initial !important;
        left: 20px !important;
    }
}

//
// Extbase Debug
//
.extbase-debugger {
    z-index: 1040; // Ensure that debug output is visible (and not overlayed by fixed header) [TASK-css-5]
}
