//
// Print layout [TASK-print-1]
// --------------------------------------------------

//
// Hide elements for print [TASK-print-2]
//
#mainnavigation,
.frame-type-subnavigation,
.language-nav,
.header-meta,
.footer-meta,
.breadcrumb-section,
.sociallinks,
.pagination,
form#tx_indexedsearch,
.lightbox .expand,
.linkToTop,
#TSFE_ADMIN_PANEL_FORM {
    @extend .d-print-none;
}

@media print {

    // Replace elements with placeholder [TASK-print-3]
    .carousel,
    figure.video {
        &:before {
            content: "[Hidden for print]";
            html[lang="de"] & {
                content: "[Ausgeblendet für Druck]";
            }
        }
        > *:not(figcaption) {
            display: none;
        }
    }
    figure.video:before {
        display: block;
        text-align: center;
    }

    body,
    .container,
    .frame-container {
        min-width: initial !important;
        max-width: initial !important;
        padding: 0;
    }

    .body-bg-top {
        padding-top: 0;
    }

    .navbar {
        min-height: auto;
        .header-section-meta {
            height: auto;
        }
        &.navbar-fixed-top {
            position: static;
        }
        .navbar-brand-image {
            padding: 0;
            img {
                height: 60px;
            }
        }
    }

    hr {
        border-top: 1px solid rgba(0, 0, 0, 0.125);
        opacity: initial;
    }

    footer {
        hr {
            margin: 0;
        }
        .frame {
            padding: 0;
        }
        .footer-section-meta {
            padding-bottom: 0;
        }
    }

    .section-row {
        display: block;
    }
}

//
// Print layout: Testing
//
/*
.navbar {
    border: 2px solid red;
}
.breadcrumb-section {
    border: 2px solid brown;
}
#page-content {
    border: 2px solid yellow;
    .container {
        border: 2px solid orange;
        .frame {
            border: 2px solid yellow;
        }
    }
}
footer {
    border: 2px solid green;
}
*/
