//
// Table
// --------------------------------------------------
.table {
    word-wrap: initial;
    word-break: initial;
}

//
// Condensed table w/ half padding
// --------------------------------------------------
.table-condensed {
    @extend .table-sm;
}
