//
// Headlines
// --------------------------------------------------
h1, .h1 {}

//
// Headlines Awesome
// --------------------------------------------------
h1.awesome,
.h1.awesome {
    @extend .display-1;
}
h2.awesome,
.h2.awesome {
    @extend .display-2;
}
h3.awesome,
.h3.awesome {
    @extend .display-3;
}
h4.awesome,
.h4.awesome {
    @extend .display-4;
}
h5.awesome,
.h5.awesome {
    @extend .display-5;
}
h6.awesome,
.h6.awesome {
    @extend .display-6;
}

//
// Text
//
p {}

//
// Columns
//
.text-column {
    .well & {
        margin-bottom: 0;
    }
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    margin-bottom: $paragraph-margin-bottom;
    @include media-breakpoint-up('sm') {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
        -webkit-column-gap: $grid-gutter-width;
        -moz-column-gap: $grid-gutter-width;
        column-gap: $grid-gutter-width;
    }
}

//
// Indent
//
.text-indent {
    > *:first-child {
        margin-top: 0;
    }
    > *:last-child {
        margin-bottom: 0;
    }
    margin-bottom: $paragraph-margin-bottom;
    @include media-breakpoint-up('sm') {
        margin-left: 10%;
    }
    @include media-breakpoint-up('md') {
        margin-left: 20%;
    }
}
