<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>No empty div tag for content sections without content [TASK-template-7]</f:comment>

<f:variable name="contentBefore"><f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 8, slide: '{theme.pagelayout.{pagelayout}.colPos.8.slide}'}" /></f:variable>
<f:if condition="{contentBefore}">
    <div class="section section-contentbefore">
        <f:format.raw>{contentBefore}</f:format.raw>
    </div>
</f:if>

</html>
