<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Logical structure (introduce Partials/Page/Structure/Footer) [TASK-template-5]</f:comment>

<footer id="page-footer" class="bp-page-footer">
    <hr class="d-none d-print-block"/>
    <f:render partial="DropIn/Structure/FooterBefore" arguments="{_all}" />
    <f:render section="Footer" optional="true" />
    <f:render partial="Structure/FooterMeta" arguments="{_all}" />
    <f:render partial="DropIn/Structure/FooterAfter" arguments="{_all}" />
</footer>

</html>
