<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>Optimize Fluid templates: Logical structure [TASK-template-5]</f:comment>

<f:variable name="headerClass">bp-page-header navbar navbar-mainnavigation navbar-{theme.navigation.style}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: logo.normal, then:' navbar-has-image')}</f:variable>
<f:variable name="headerClass">{headerClass}{f:if(condition: theme.navigation.type, else:' navbar-top', then:' navbar-{theme.navigation.type} navbar-fixed-{theme.navigation.type}')}</f:variable>
<header id="page-header" class="{headerClass}">
    <div class="header-section header-section-meta container">
        <f:cObject typoscriptObjectPath="lib.searchbox" />
        <f:if condition="{theme.metaHeader.enable}">
            <div class="header-meta">
                <f:render partial="Navigation/Header" arguments="{_all}" />
            </div>
        </f:if>
        <f:if condition="{theme.language.enable}">
            <div class="language-nav">
                <f:render partial="Navigation/Language" arguments="{_all}" />
            </div>
        </f:if>
    </div>
    <div class="header-section header-section-main container">
        <f:link.page pageUid="{rootPage}" class="navbar-brand navbar-brand-{f:if(condition: logo.normal, then: 'image', else: 'text')}" title="{f:translate(key: 'linkToStartpage', extensionName: 't3basic')}">
            <f:if condition="{logo.normal}">
                <f:then>
                    <img class="navbar-brand-logo-normal" src="{f:uri.image(image: logo.normal)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                    <f:if condition="{logo.inverted}">
                        <img class="navbar-brand-logo-inverted" src="{f:uri.image(image: logo.inverted)}" alt="{logoAlt}" height="{settings.logo.height}" width="{settings.logo.width}">
                    </f:if>
                </f:then>
                <f:else>
                    <span>{siteTitle}</span>
                </f:else>
            </f:if>
        </f:link.page>
        <f:if condition="{mainnavigation}">
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-bs-toggle="collapse" data-target="#mainnavigation" data-bs-target="#mainnavigation" aria-controls="mainnavigation" aria-expanded="false" aria-label="{f:translate(key: 'togglenavigation', extensionName: 'bootstrap_package')}">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav id="mainnavigation" class="collapse navbar-collapse">
                <f:render partial="DropIn/Navigation/MainBefore" arguments="{_all}" />
                <f:render partial="Navigation/Main" arguments="{menu: mainnavigation, theme: theme}" />
                <f:render partial="DropIn/Navigation/MainAfter" arguments="{_all}" />
            </nav>
        </f:if>
    </div>
</header>

</html>
