<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:spaceless>
<div id="top"></div>
<div class="body-bg{f:if(condition:theme.navigation.type, then:' body-bg-{theme.navigation.type}')}">

    <f:render partial="DropIn/Page/PageBefore" arguments="{_all}" />
    <f:render partial="Structure/CookieConsent" arguments="{_all}" />
    <a class="visually-hidden-focusable" href="#page-content">
        <span>{f:translate(key: 'skiptomaincontent', extensionName: 'bootstrap_package')}</span>
    </a>
    <f:comment>Optimize Fluid templates: Introduce header partial [TASK-template-5]</f:comment>
    <f:render partial="Structure/Header" arguments="{_all}" />
    <f:render section="Border" optional="true" />
    <f:render partial="Navigation/Breadcrumb" arguments="{_all}" />

    <div id="page-content" class="bp-page-content main-section">
        <!--TYPO3SEARCH_begin-->
        <f:render section="Main" />
        <!--TYPO3SEARCH_end-->
    </div>

    <f:comment>Optimize Fluid templates: Introduce footer partial [TASK-template-5]</f:comment>
    <f:render partial="Structure/Footer" arguments="{_all}" />
    <f:render partial="Structure/ScrollTop" arguments="{_all}" />
    <f:render partial="DropIn/Page/PageAfter" arguments="{_all}" />

</div>
</f:spaceless>
</html>
