<f:layout name="General" />
<f:comment>Optimize template for date menu: Use accordion [FEATURE-newstemplate-1]</f:comment>

<f:section name="content">
    <div id="accordion-news-date-menu" class="accordion">
        <f:if condition="{settings.datemenu.accordionShowFirst}">
            <f:variable name="activeElement"><v:iterator.first><v:iterator.keys>{data.single}</v:iterator.keys></v:iterator.first></f:variable>
        </f:if>
        <f:if condition="{overwriteDemand.year}">
            <f:variable name="activeElement" value="{overwriteDemand.year}" />
        </f:if>
        <f:for each="{data.single}" key="year" as="months" iteration="iteration">
            <div class="accordion-item">
                <h4 class="accordion-header" id="accordion-heading-news-date-menu-{year}">
                    <button
                            class="accordion-button{f:if(condition: '{activeElement} == {year}', else: ' collapsed')}"
                            type="button"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordion-news-date-menu-{year}"
                            aria-expanded="{f:if(condition: '{activeElement} == {year}', then: 'true', else: 'false')}"
                            aria-controls="accordion-news-date-menu-{year}"
                    >
                        {year}
                    </button>
                </h4>
                <div
                        id="accordion-news-date-menu-{year}"
                        class="accordion-collapse collapse{f:if(condition: '{activeElement} == {year}', then: ' show')}"
                        aria-labelledby="accordion-heading-news-date-menu-{year}"
                        data-bs-parent="#accordion-news-date-menu"
                >
                    <div class="accordion-body">
                        <ul class="list-unstyled">
                            <f:for each="{months}" key="month" as="count">
                                <li class="item{f:if(condition: '{0:year, 1:month} == {0:overwriteDemand.year, 1:overwriteDemand.month}', then: ' itemactive')}">
                                    <f:link.action pageUid="{listPid}" arguments="{overwriteDemand: {year: year, month: month}}"><f:spaceless>
                                        <f:translate key="month.{month}" /> {year}
                                    </f:spaceless></f:link.action>
                                    ({count} <f:translate key="{f:if(condition: '{count} == 1', then: 'entry', else: 'entries')}" />)
                                </li>
                            </f:for>
                        </ul>
                    </div>
                </div>
            </div>
        </f:for>
    </div>
</f:section>
