<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:comment>Optimize template for detail page [TASK-newstemplate-4]</f:comment>

<f:layout name="Detail" />

<f:section name="content">
    <f:if condition="{newsItem}">
        <n:format.nothing>
            <n:excludeDisplayedNews newsItem="{newsItem}" />
            <f:if condition="{settings.detail.showMetaTags}">
                <f:render partial="Detail/Opengraph" arguments="{newsItem: newsItem, settings: settings}" />
            </f:if>
            <n:titleTag>
                <f:format.htmlentitiesDecode>
                    <f:comment>Browser title contains "News:" (the page title is used as prefix) [TASK-newstemplate-5]</f:comment>
                    <f:if condition="{newsItem.alternativeTitle}">
                        <f:then>
                            {pageData.title}: {newsItem.alternativeTitle}
                        </f:then>
                        <f:else>
                            {pageData.title}: {newsItem.title}
                        </f:else>
                    </f:if>
                </f:format.htmlentitiesDecode>
            </n:titleTag>
        </n:format.nothing>
        <f:if condition="{settings.detail.showPrevNext}">
            <n:simplePrevNext pidList="{newsItem.pid}" news="{newsItem}" as="paginated" sortField="datetime">
                <f:if condition="{paginated}">
                    <ul class="pager">
                        <f:if condition="{paginated.prev}">
                            <li class="previous">
                                <n:link newsItem="{paginated.prev}" settings="{settings}">
                                    <span aria-hidden="true">&larr; </span>{paginated.prev.title}
                                </n:link>
                            </li>
                        </f:if>
                        <f:if condition="{paginated.next}">
                            <li class="next">
                                <n:link newsItem="{paginated.next}" settings="{settings}" class="next">
                                    {paginated.next.title} <span aria-hidden="true"> &rarr;</span>
                                </n:link>
                            </li>
                        </f:if>
                    </ul>
                </f:if>
            </n:simplePrevNext>
        </f:if>
        <div class="header">
            <h1 itemprop="headline">{newsItem.title}</h1>
        </div>
        <div class="info">
            <span class="news-single-date">
                <time itemprop="datePublished" datetime="{f:format.date(date:newsItem.datetime, format: 'Y-m-d')}">
                    <f:comment>Consistent date format [TASK-fe-7]</f:comment>
                    <f:format.date format="{f:translate(key: 'dateFormat', extensionName: 't3basic')}">{newsItem.datetime}</f:format.date>
                </time>
            </span>
            <f:if condition="{newsItem.categories}">
                <f:render partial="Category/Items" arguments="{categories: newsItem.categories, settings: settings}" />
            </f:if>
            <f:if condition="{newsItem.tags}">
                <f:render partial="Tag/Items" arguments="{tags: newsItem.tags, settings: settings}" />
            </f:if>
            <f:if condition="{newsItem.author}">
                <span class="news-single-author" itemprop="author" itemscope="itemscope" itemtype="http://schema.org/Person">
                    <f:translate key="author_simple" /> <span itemprop="name">{newsItem.author}</span>
                </span>
            </f:if>
        </div>
        <f:if condition="{newsItem.teaser}">
            <p class="teaser-text" itemprop="description">
                {newsItem.teaser}
            </p>
        </f:if>
        <f:if condition="{newsItem.mediaNonPreviews->f:count()}">
            <div class="row">
                <div class="col-sm-8">
        </f:if>
        <n:renderMedia news="{newsItem}" imgClass="figure-img img-fluid" videoClass="video-wrapper" audioClass="audio-wrapper">
            <f:if condition="{newsItem.contentElements}">
                <f:cObject typoscriptObjectPath="lib.tx_news.contentElementRendering">{newsItem.contentElementIdList}</f:cObject>
            </f:if>
            <div class="news-text-wrap" itemprop="articleBody">
                <f:format.html>{newsItem.bodytext}</f:format.html>
            </div>
        </n:renderMedia>

        <f:if condition="{settings.backPid}">
            <div class="news-backlink-wrap">
                <f:link.page pageUid="{settings.backPid}">
                    <f:translate key="back-link" />
                </f:link.page>
            </div>
        </f:if>
        <f:if condition="{settings.detail.showSocialShareButtons}">
            <f:comment>
                Care about the privacy of your readers?
                Checkout https://typo3.org/extensions/repository/view/rx_shariff
                and it will be used automatically!
            </f:comment>
            <n:extensionLoaded extensionKey="rx_shariff">
                <f:render partial="Detail/Shariff" />
            </n:extensionLoaded>
        </f:if>
        <div class="news-related-wrap">
            <f:if condition="{newsItem.allRelatedSorted}">
                <div class="news-related news-related-news">
                    <h4>
                        <f:translate key="related-news" />
                    </h4>
                    <ul>
                        <f:for each="{newsItem.allRelatedSorted}" as="related">
                            <li>
                                <span class="news-related-news-date">
                                    <f:comment>Consistent date format [TASK-fe-7]</f:comment>
                                    <f:format.date format="{f:translate(key: 'dateFormat', extensionName: 't3basic')}">{related.datetime}</f:format.date>
                                </span>
                                <n:link newsItem="{related}" settings="{settings}" title="{related.title}">
                                    {related.title}
                                </n:link>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </f:if>
            <f:if condition="{newsItem.relatedFiles}">
                <div class="news-related news-related-files">
                    <h4>
                        <f:translate key="related-files" />
                    </h4>
                    <ul>
                        <f:for each="{newsItem.relatedFiles}" as="relatedFile">
                            <li>
                                <span class="news-related-files-link">
                                    <a href="{relatedFile.originalResource.publicUrl->f:format.htmlspecialchars()}" target="_blank">
                                        {f:if(condition:relatedFile.originalResource.title, then:relatedFile.originalResource.title, else:relatedFile.originalResource.name)}
                                    </a>
                                </span>
                                <span class="news-related-files-size">
                                    {relatedFile.originalResource.size->f:format.bytes()}
                                </span>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </f:if>
            <f:if condition="{newsItem.relatedLinks}">
                <div class="news-related news-related-links">
                    <h4>
                        <f:translate key="related-links" />
                    </h4>
                    <ul>
                        <f:for each="{newsItem.relatedLinks}" as="relatedLink">
                            <li>
                                <f:link.typolink parameter="{relatedLink.uri}" title="{relatedLink.title}" target="{n:targetLink(link:relatedLink.uri)}">{f:if(condition: relatedLink.title, then: relatedLink.title, else: relatedLink.uri)}</f:link.typolink>
                                <f:if condition="{relatedLink.description}"><span>{relatedLink.description}</span></f:if>
                            </li>
                        </f:for>
                    </ul>
                </div>
            </f:if>
        </div>
        <f:if condition="{newsItem.mediaNonPreviews->f:count()}">
                </div>
                <div class="col-sm-4">
                    <f:render partial="Detail/MediaContainer" arguments="{media: newsItem.mediaNonPreviews, settings: settings}" />
                </div>
            </div>
        </f:if>
    </f:if>
</f:section>
</html>
