<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:v="http://typo3.org/ns/FluidTYPO3/Vhs/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>
    News list with slider [FEATURE-news-4]
    News list with 2 and 3 columns with Bootstrap Cards [FEATURE-news-5]
</f:comment>

<f:layout name="General" />

<f:section name="content">
    <!--TYPO3SEARCH_end-->
    <f:if condition="{news}">
        <f:then>
            <f:if condition="{settings.templateLayout} == 'slider'">
                <f:asset.script identifier="t3basic.slider.bootstrap" src="EXT:t3basic/Resources/Public/JavaScript/t3basic.slider.bootstrap.js" />
            </f:if>
            <div class="news-list-view{f:if(condition: settings.templateLayout, then: ' news-list-view-layout-{settings.templateLayout}', else: ' news-list-view-layout-default')}">
                <f:if condition="{settings.hidePagination}">
                    <f:then>
                        <f:render partial="List/Items" arguments="{news: news, settings: settings}" />
                    </f:then>
                    <f:else>
                        <f:if condition="{settings.list.paginate.insertAbove}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                        <f:render partial="List/Items" arguments="{news: pagination.paginator.paginatedItems, settings: settings}" />
                        <f:if condition="{settings.list.paginate.insertBelow}">
                            <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                        </f:if>
                    </f:else>
                </f:if>
            </div>
        </f:then>
        <f:else>
            <p class="no-news-found">
                <f:translate key="list_nonewsfound" />
            </p>
        </f:else>
    </f:if>
    <!--TYPO3SEARCH_begin-->
</f:section>

</html>
