<html
    xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
    xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Optimize templates [TASK-newstemplate-1]</f:comment>
<f:layout name="General" />

<f:section name="content">
    <div class="news-search-form">
        <n:searchForm object="{search}" name="search" pageUid="{settings.listPid}" method="get">
            <fieldset>
                <div class="form-group">
                    <div class="input-group">
                        <label for="news-subject" class="visually-hidden"><f:translate key="search-subject" /></label>
                        <f:form.textfield id="news-subject" property="subject" class="form-control" />
                        <f:form.submit value="{f:translate(key: 'search-start')}" class="btn btn-primary" />
                    </div>
                </div>
            </fieldset>
        </n:searchForm>
    </div>
</f:section>
</html>
