<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:comment>Optimize templates [TASK-newstemplate-1]</f:comment>
<f:layout name="General" />

<f:section name="content">
    <div class="news-search-result">
        <f:if condition="{search}">
            <f:if condition="{news}">
                <f:then>
                    <p class="count-msg">
                        <f:format.raw>
                            <f:translate key="search-text" arguments="{0: '{f:count(subject:news)}', 1: search.subject}" />
                        </f:format.raw>
                    </p>
                    <f:if condition="{settings.search.paginate.insertAbove}">
                        <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                    </f:if>
                    <f:render partial="List/Items" arguments="{news: pagination.paginator.paginatedItems, settings: settings}" />
                    <f:if condition="{settings.search.paginate.insertBelow}">
                        <f:render partial="List/Pagination" arguments="{pagination: pagination.pagination, paginator: pagination.paginator}" />
                    </f:if>
                </f:then>
                <f:else>
                    <p class="no-news-found">
                        <f:translate key="search-noresult" />
                    </p>
                </f:else>
            </f:if>
        </f:if>
    </div>
</f:section>

</html>
