<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:comment>No empty div tag for content sections without content [TASK-template-7]</f:comment>
    <f:render partial="Structure/ContentBefore" arguments="{_all}"/>
    <f:comment>Optimize page templates: Add tag "main" [TASK-template-2]</f:comment>
    <main class="section section-default" role="main">
        <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 0, slide: '{theme.pagelayout.{pagelayout}.colPos.0.slide}'}" />
    </main>
</f:section>
</html>
