<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">
    <f:comment>No empty div tag for content sections without content [TASK-template-7]</f:comment>
    <f:render partial="Structure/ContentBefore" arguments="{_all}"/>
    <div class="section section-default">
        <div class="container">
            <div class="section-row">
                <div class="section-column subnav-wrap">
                    <f:render partial="Navigation/Subnavigation" arguments="{_all}" />
                    <f:comment>Enable content below subnav [FEATURE-belayout-3]</f:comment>
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: data.uid, colPos: 2, slide: '{theme.pagelayout.{pagelayout}.colPos.2.slide}'}" />
                </div>
                <main class="section-column maincontent-wrap" role="main">
                    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '0', slide: '{theme.pagelayout.{pagelayout}.colPos.0.slide}'}" />
                </main>
            </div>
        </div>
    </div>
    <f:cObject typoscriptObjectPath="lib.dynamicContent" data="{pageUid: '{data.uid}', colPos: '9', slide: '{theme.pagelayout.{pagelayout}.colPos.9.slide}'}" />
</f:section>
<f:section name="Footer">
    <f:render partial="Structure/FooterContent" arguments="{_all}" />
</f:section>
</html>
