<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Set correct classes for Bootstrap 5 [BUGFIX-template-1]</f:comment>
<figure class="audio">
    <div class="embed">
        <f:render partial="Media/Rendering/Audio" arguments="{file: file, data: data, settings: settings}" />
    </div>
    <f:if condition="{file.properties.description}">
        <figcaption class="figure-caption"><f:format.nl2br>{file.properties.description}</f:format.nl2br></figcaption>
    </f:if>
</figure>
</html>
