<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Set correct classes for Bootstrap 5 [BUGFIX-template-1]</f:comment>
<figure class="video">
    <div class="embed embed-responsive embed-responsive-16by9">
        <f:render partial="Media/Rendering/Video" arguments="{file: file, data: data, settings: settings}" />}" />
    </div>
    <f:if condition="{file.description} && !{hideCaption}">
        <figcaption class="figure-caption"><f:format.nl2br>{file.description}</f:format.nl2br></figcaption>
    </f:if>
</figure>
</html>
