//
// Color system
// --------------------------------------------------
$white:                             #ffffff !default;
$gray-100:                          #f8f8f8 !default;
$gray-200:                          #e9e9e9 !default;
$gray-300:                          #dedede !default;
$gray-400:                          #cecece !default;
$gray-500:                          #ababab !default;
$gray-600:                          #6c6c6c !default;
$gray-700:                          #494949 !default;
$gray-800:                          #313131 !default;
$gray-900:                          #212121 !default;
$black:                             #000000 !default;

$primary:                           #2a9d8f !default;
$secondary:                         #e76f51 !default;
$tertiary:                          #f4a261 !default;
$quaternary:                        #e9c46a !default;

$default:                           #eaebec !default;
$success:                           #5cb85c !default;
$info:                              #319fc0 !default;
$warning:                           #f0ad4e !default;
$danger:                            #d9534f !default;
$lighter:                           $gray-100 !default;
$light:                             $gray-200 !default;
$dark:                              $gray-800 !default;
$darker:                            $gray-900 !default;

$theme-colors: (
    'primary':                      $primary,
    'secondary':                    $secondary,
    'tertiary':                     $tertiary,
    'quaternary':                   $quaternary,
    'success':                      $success,
    'info':                         $info,
    'warning':                      $warning,
    'danger':                       $danger,
    'default':                      $default,
    'lighter':                      $lighter,
    'light':                        $light,
    'dark':                         $dark,
    'darker':                       $darker,
) !default;

$body-bg:                           $white !default;
$body-color:                        $gray-900 !default;

$min-contrast-ratio:                2.4 !default;

//
// Options
// --------------------------------------------------
$enable-shadows:                    true !default;
$enable-negative-margins:           true !default;
$enable-responsive-font-sizes:      true !default;

//
// Fonts
// --------------------------------------------------
$font-size-base:                    1rem !default;
$h1-font-size:                      $font-size-base * 2 !default;
$h2-font-size:                      $font-size-base * 1.75 !default;
$h3-font-size:                      $font-size-base * 1.5 !default;
$h4-font-size:                      $font-size-base * 1.25 !default;
$h5-font-size:                      $font-size-base * 1 !default;
$h6-font-size:                      $font-size-base * .85 !default;

$headings-font-weight:              300 !default;

$display-font-sizes: (
    1: $h1-font-size * 1.5,
    2: $h2-font-size * 1.5,
    3: $h3-font-size * 1.5,
    4: $h4-font-size * 1.5,
    5: $h5-font-size * 1.5,
    6: $h6-font-size * 1.5
) !default;

//
// Links
// --------------------------------------------------
$link-decoration:                   none !default;
$link-hover-decoration:             underline !default;

//
// Grid breakpoints
// --------------------------------------------------

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
) !default;

$grid-float-breakpoint:             992px !default;

//
// Grid containers
// --------------------------------------------------
$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px,
    xxl: 1320px
) !default;

//
// Grid
// --------------------------------------------------
$grid-gutter-width:                 40px !default;

//
// Navbar
// --------------------------------------------------
$navbar-nav-link-padding-x:         1rem !default;
$navbar-heights: (
    xs: 170px,
    sm: 170px,
    md: 130px,
    lg: 130px,
    xl: 130px,
    xxl: 130px
) !default;

//
// Cards
// --------------------------------------------------
$card-spacer-y:                     1.5rem !default;
$card-spacer-x:                     1.5rem !default;

//
// Pagination
// --------------------------------------------------
$pagination-color:                  $body-color !default;

//
// Breadcrumb
// --------------------------------------------------
$breadcrumb-padding-y:              .75rem !default;
$breadcrumb-bg:                     $lighter !default;

//
// Accordion
//
$accordion-padding-y:               1rem !default;
$accordion-padding-x:               1.25rem !default;
$accordion-body-padding-y:          $accordion-padding-x !default;
$accordion-body-padding-x:          $accordion-padding-x !default;
