<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>EXT:indexed_search: Displaying of rules with "collapse" (instead of not working"popover") [TASK-search-6]</f:comment>

<f:if condition="{settings.displayRules}">
    <div class="mb-3">
        <p>
            <a data-bs-toggle="collapse" href="#collapseRules" role="button" aria-controls="collapseRules">
                <f:translate key="rules.headline" />
            </a>
        </p>
        <div id="collapseRules" class="collapse">
            <div class="card card-body">
                <f:format.raw>
                    <f:translate key="rules.text" />
                </f:format.raw>
            </div>
        </div>
    </div>
</f:if>
</html>
