<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>EXT:indexed_search: Adapt templates for Bootstrap [TASK-search-5]</f:comment>

<div class="mb-3">
    <h4>
        <f:if condition="{settings.displayResultNumber}">
            <span class="tx-indexedsearch-result-number">{row.result_number}</span>
        </f:if>
        <f:format.raw>{row.title}</f:format.raw>
        <span class="text-muted">
            <f:comment>Consistent date format [TASK-fe-7]</f:comment>
            ({row.rating} <f:format.date format="{f:translate(key: 'dateFormat', extensionName: 't3basic')}">@{row.modified}</f:format.date>)
        </span>
    </h4>
    <f:if condition="{row.headerOnly} == 0">
        <p><f:format.crop maxCharacters="{settings.results.summaryCropAfter}">{row.item_description}</f:format.crop></p>
    </f:if>
    <f:if condition="{row.subresults}">
        <f:for each="{row.subresults.items}" as="subrow">
            <f:render partial="Searchresult" arguments="{row: subrow}" />
        </f:for>
    </f:if>
</div>
</html>
