<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:switch expression="{settings.templateLayout}">
    <f:case value="grid2">
        <div class="row row-cols-1 row-cols-md-2 g-4 mb-4">
            <f:for each="{news}" as="newsItem">
                <div class="col">
                    <f:render partial="List/ItemCard" arguments="{newsItem: newsItem, settings: settings}" />
                </div>
            </f:for>
        </div>
    </f:case>
    <f:case value="grid3">
        <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
            <f:for each="{news}" as="newsItem">
                <div class="col">
                    <f:render partial="List/ItemCard" arguments="{newsItem: newsItem, settings: settings}" />
                </div>
            </f:for>
        </div>
    </f:case>
    <f:case value="slider">
        <div id="carousel-{data.uid}" class="carousel carousel-flexible slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <f:for each="{news}" as="newsItem" iteration="iteration">
                    <div class="carousel-item{f:if(condition: iteration.isFirst, then: ' active')}">
                        <f:render partial="List/Item" arguments="{newsItem: newsItem, settings: settings}" />
                    </div>
                </f:for>
            </div>
            <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="prev">
                <span class="carousel-control-icon carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">
                        <f:translate key="slider.arrow.left" extensionName="t3basic" />
                    </span>
            </button>
            <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="next">
                <span class="carousel-control-icon carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">
                        <f:translate key="slider.arrow.right" extensionName="t3basic" />
                    </span>
            </button>
        </div>
    </f:case>
    <f:defaultCase>
        <div class="articles">
            <f:for each="{news}" as="newsItem">
                <f:render partial="List/Item" arguments="{newsItem: newsItem, settings: settings}" />
            </f:for>
        </div>
    </f:defaultCase>
</f:switch>

</html>
