<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Optimize content element "Accordion": Provide setting "accordionShowFirst" to show/hide first element of accordion [TASK-accordion-2]</f:comment>
<f:layout name="Default" />
<f:section name="Main">
    <f:if condition="{records}">
        <f:if condition="{theme.t3basic.enable.accordionShowFirst}">
            <f:variable name="activeElement" value="{records.0.data.uid}" />
        </f:if>
        <f:if condition="{data.pi_flexform.default_element}">
            <f:variable name="activeElement" value="{data.pi_flexform.default_element}" />
        </f:if>
        <f:variable name="currentVariants" value="{variants}" />
        <div class="accordion" id="accordion-{data.uid}">
            <f:for each="{records}" as="record" iteration="iteration">
                <div class="accordion-item">
                    <h4 class="accordion-header" id="accordion-heading-{data.uid}-{record.data.uid}">
                        <button class="accordion-button{f:if(condition: '{activeElement} == {record.data.uid}', else:' collapsed')}" type="button"
                            data-toggle="collapse"
                            data-target="#accordion-{data.uid}-{record.data.uid}"
                            data-parent="#accordion-{data.uid}"
                            data-bs-toggle="collapse"
                            data-bs-target="#accordion-{data.uid}-{record.data.uid}"
                            data-bs-parent="#accordion-{data.uid}"
                            aria-expanded="{f:if(condition: '{activeElement} == {record.data.uid}', then: 'true', else: 'false')}"
                            aria-controls="accordion-{data.uid}-{record.data.uid}"
                        >
                            {record.data.header}
                        </button>
                    </h4>
                    <div id="accordion-{data.uid}-{record.data.uid}" class="accordion-collapse collapse{f:if(condition: '{activeElement} == {record.data.uid}', then: ' show')}" aria-labelledby="accordion-heading-{data.uid}-{record.data.uid}" data-parent="#accordion-{data.uid}" data-bs-parent="#accordion-{data.uid}">
                        <div class="accordion-body">
                            <div class="accordion-content accordion-content-{record.data.mediaorient}">
                                <f:if condition="{record.files}">
                                    <div class="accordion-content-item accordion-content-media">
                                        <f:variable name="imageConfig">{settings.responsiveimages.contentelements.accordion.{record.data.mediaorient}}</f:variable>
                                        <bk2k:data.imageVariants as="variants" variants="{currentVariants}" multiplier="{imageConfig.multiplier}" gutters="{imageConfig.gutters}" corrections="{imageConfig.corrections}" />
                                        <f:render partial="Media/Gallery" arguments="{files: record.files, data: record.data, settings: settings, variants: variants}" />
                                    </div>
                                </f:if>
                                <div class="accordion-content-item accordion-content-text">
                                    <f:format.html>{record.data.bodytext}</f:format.html>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>

</f:section>
</html>
