<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>Empty content element (to avoid language fallback for translations) [FEATURE-contentelement-1]</f:comment>

</html>
