<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Automatic headers [FEATURE-headings-1]</f:comment>
<f:layout name="Default" />
<f:section name="Header" />
<f:section name="Main">

    <div class="card card-panel card-panel-{data.panel_class}">
        <f:if condition="{data.header}">
            <f:render partial="Header/Header" arguments="{
                header: data.header,
                layout: data.header_layout,
                class: 'card-header',
                positionClass: '',
                link: '',
                data: data}" />
        </f:if>
        <f:if condition="{data.bodytext}">
            <div class="card-body">
                <f:format.html>{data.bodytext}</f:format.html>
            </div>
        </f:if>
    </div>

</f:section>
</html>
