<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />
<f:section name="Main">

    <f:if condition="{records}">
        <f:variable name="currentVariants" value="{variants}" />
        <div class="timeline">
            <f:for each="{records}" as="item" iteration="iteration">
                <div class="timeline-item">
                    <div class="timeline-item-inner">
                        <f:if condition="{item.image.0}">
                            <div class="timeline-item-image">
                                <f:variable name="imageConfig">{settings.responsiveimages.contentelements.timeline}</f:variable>
                                <bk2k:data.imageVariants as="variants" variants="{currentVariants}" multiplier="{imageConfig.multiplier}" gutters="{imageConfig.gutters}" corrections="{imageConfig.corrections}" />
                                <f:render partial="Media/Gallery" arguments="{files: item.image, data: item.data, settings: settings, variants: variants}" />
                            </div>
                        </f:if>
                        <div class="timeline-item-marker{f:if(condition:item.icon,then:' timeline-item-icon')}">
                            <span>
                                <f:if condition="{item.icon}">
                                    <bk2k:icon icon="{item.icon}" />
                                </f:if>
                            </span>
                        </div>
                        <div class="timeline-item-date">
                            <time datetime="{item.data.date -> f:format.date(format: '%Y-%m-%d')}">
                                <f:comment>Consistent date format [TASK-fe-7]</f:comment>
                                <f:format.date format="{f:translate(key: 'dateFormat', extensionName: 't3basic')}">{item.data.date}</f:format.date>
                            </time>
                        </div>
                        <div class="timeline-item-header">
                            <h4 class="timeline-item-header-headline">{item.data.header}</h4>
                        </div>
                        <f:if condition="{item.data.bodytext}">
                            <div class="timeline-item-text">
                                <f:format.html>{item.data.bodytext}</f:format.html>
                            </div>
                        </f:if>
                    </div>
                </div>
            </f:for>
        </div>
    </f:if>

</f:section>
</html>
