<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>EXT:felogin: Adapt templates for Bootstrap [TASK-login-2]</f:comment>

<div class="alert alert-warning" role="alert">
    <f:translate key="cookie_warning" />
</div>

</html>
