<html
        xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
        xmlns:v="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
        xmlns:t3b="http://typo3.org/ns/SBTheke/T3basic/ViewHelpers"
        data-namespace-typo3-fluid="true">
<f:spaceless>
    <bk2k:data.imageVariants as="variants" variants="{settings.responsiveimages.variants}" />
    <f:variable name="backendlayoutConfig">{settings.responsiveimages.backendlayout.{backendlayout}}</f:variable>
    <f:variable name="columnConfig">{backendlayoutConfig.{data.colPos}}</f:variable>
    <f:if condition="{columnConfig}">
        <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{columnConfig.multiplier}" gutters="{columnConfig.gutters}" corrections="{columnConfig.corrections}" />
    </f:if>

    <f:if condition="{containerContext}">
        <f:for each="{containerContext}" as="context">
            <f:variable name="containerConfig">{settings.responsiveimages.container.{context.CType}}</f:variable>
            <f:variable name="containerColumnConfig">{containerConfig.{data.colPos}}</f:variable>
            <f:if condition="{containerColumnConfig}">
                <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{containerColumnConfig.multiplier}" gutters="{containerColumnConfig.gutters}" corrections="{containerColumnConfig.corrections}" />
            </f:if>
        </f:for>
    </f:if>

    <f:comment>Enable multiple selection for field "frame_class" [TASK-tca-5]</f:comment>
    <f:variable name="frameClass"><t3b:classSelect prefix=" frame-">{data.frame_class}</t3b:classSelect></f:variable>
    <f:variable name="typeClass"> frame-type-{data.CType}</f:variable>
    <f:comment>Add classes for plugin type, e.g. "frame-type-list-news_pi1" [TASK-template-4]</f:comment>
    <f:if condition="{data.CType} == 'list'">
        <f:variable name="typeClass">{typeClass} frame-type-list-{data.list_type}</f:variable>
    </f:if>
    <f:comment>Remove unneeded classes like "frame-layout-default", "frame-background-none", "frame-no-backgroundimage" [TASK-template-3]</f:comment>
    <f:variable name="layoutClass">{f:if(condition: data.frame_layout, then: ' frame-layout-{data.frame_layout}')}</f:variable>
    <f:variable name="backgroundImageClass">{f:if(condition: backgroundImage.0, then: ' frame-has-background frame-has-backgroundimage')}</f:variable>
    <f:variable name="backgroundClass">{f:if(condition: '{data.background_color_class} && {data.background_color_class} != "none"', then: ' frame-has-background frame-background-{data.background_color_class}')}</f:variable>
    <f:variable name="spaceBeforeClass"> frame-space-before-{f:if(condition: data.space_before_class, else: 'none', then: data.space_before_class)}</f:variable>
    <f:variable name="spaceAfterClass"> frame-space-after-{f:if(condition: data.space_after_class, else: 'none', then: data.space_after_class)}</f:variable>

    <f:comment>Handle shortcuts (no extra divs) [TASK-template-9]</f:comment>
    <f:if condition="{data.CType} != 'shortcut'">
        <f:then>
            <div id="c{data.uid}" class="frame {typeClass}{frameClass}{layoutClass}{backgroundClass}{backgroundImageClass}{spaceBeforeClass}{spaceAfterClass}">
                <f:render partial="Frame/General/BackgroundImage" arguments="{_all}" />
                <div class="frame-container frame-container-default">
                    <div class="frame-inner">
                        <f:if condition="{data._LOCALIZED_UID}">
                            <div id="c{data._LOCALIZED_UID}"></div>
                        </f:if>
                        <f:render section="Before" optional="true">
                            <f:render partial="DropIn/Before/All" arguments="{_all}" />
                        </f:render>
                        <f:render section="Header" optional="true">
                            <f:render partial="Header/All" arguments="{_all}" />
                        </f:render>
                        <f:render section="Main" optional="true" />
                        <f:render section="Footer" optional="true">
                            <f:render partial="Footer/All" arguments="{_all}" />
                        </f:render>
                        <f:render section="After" optional="true">
                            <f:render partial="DropIn/After/All" arguments="{_all}" />
                        </f:render>
                    </div>
                </div>
            </div>
        </f:then>
        <f:else>
            <div id="c{data.uid}"></div>
            <f:if condition="{data._LOCALIZED_UID}">
                <div id="c{data._LOCALIZED_UID}"></div>
            </f:if>
            <f:if condition="{data.space_before_class}">
                <div class="{spaceBeforeClass}"></div>
            </f:if>
            <f:render section="Before" optional="true">
                <f:render partial="DropIn/Before/All" arguments="{_all}" />
            </f:render>
            <f:render section="Header" optional="true">
                <f:render partial="Header/All" arguments="{_all}" />
            </f:render>
            <f:render section="Main" optional="true" />
            <f:render section="Footer" optional="true">
                <f:render partial="Footer/All" arguments="{_all}" />
            </f:render>
            <f:render section="After" optional="true">
                <f:render partial="DropIn/After/All" arguments="{_all}" />
            </f:render>
            <f:if condition="{data.space_after_class}">
                <div class="{spaceAfterClass}"></div>
            </f:if>
        </f:else>
    </f:if>
</f:spaceless>
</html>
