//
// EXT:indexed_search [FEATURE-search-1]
// --------------------------------------------------
.tx-indexedsearch {
}

// Header Search [FEATURE-search-2]
header.navbar .tx-indexedsearch {
    .input-group {
        .form-control {
            height: $input-height-sm;
        }
    }
}
