//
// EXT:news - Optimize styles [TASK-news-4]
// --------------------------------------------------

//
// All news views
//
.frame-type-list-news_pi1 {
    .info {
        margin-bottom: $spacer;
        color: $gray-500;
        > span {
            & + span {
                border-left: 1px solid $gray-500;
                padding-left: 5px;
                margin-left: 1px;
            }
        }
    }
}

//
// List and search view
//
.news-list-view-layout-default,
.news-search-result {
    .article {
        margin-bottom: $spacer;
        border-bottom: 1px solid $gray-300;
        h3 {
            margin-top: 0;
        }
        .text {
            margin: 0 0 $spacer 0;
            p {
                display: inline;
            }
        }
        .info {
            margin: 0 0 $spacer 0;
            &:empty {
                display: none;
            }
        }
    }
    .no-news-found {
        font-style: italic;
    }
}

//
// Single view
//
.news-single {
    .article {
        .teaser-text {
            @extend .lead;
        }
        .news-related {
            ul li {
                span {
                    color: $gray-500;
                    & + span {
                        border-left: 1px solid $gray-200;
                        padding-left: 5px;
                        margin-left: 1px;
                    }
                }
            }
        }
    }
}

//
// Search view
//
.news-search-form {
    form {
        &.form-inline {
            white-space: nowrap;
            .form-group {
                width: 79%;
                input {
                    width: 100%;
                }
            }
            input[type=submit] {
                width: 20%;
            }
            @media (max-width: $grid-float-breakpoint - 1) {
                .form-group {
                    width: 100%;
                }
                input[type=submit] {
                    display: none;
                }
            }
        }
    }
}

//
// Different layouts
//
.news-list-view-layout-slider {
    .article {
        border: none;
    }
    .carousel-indicators {
        position: relative;
    }
}
.news-list-view-layout-grid2,
.news-list-view-layout-grid3 {
}
