<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>Optimize template for category menu [TASK-newstemplate-2]</f:comment>

<f:layout name="General" />

<f:section name="content">
    <f:if condition="{categories}">
        <f:then>
            <f:render section="categoryTree" arguments="{categories: categories, overwriteDemand: overwriteDemand}" />
        </f:then>
        <f:else>
            <f:translate key="list_nocategoriesfound" />
        </f:else>
    </f:if>
</f:section>

<f:section name="categoryTree">
    <f:if condition="{categories->f:count()} > 1">
        <f:then>
            <f:render section="categorySubTree" arguments="{categories: categories, overwriteDemand: overwriteDemand}" />
        </f:then>
        <f:else>
            <f:for each="{categories}" as="category">
                <f:if condition="{category.children}">
                    <f:render section="categorySubTree" arguments="{categories: category.children, overwriteDemand: overwriteDemand}" />
                </f:if>
            </f:for>
        </f:else>
    </f:if>
</f:section>

<f:section name="categorySubTree">
    <ul>
        <f:for each="{categories}" as="category">
			{n:category.count(categoryUid:category.item.uid) -> f:variable(name: 'categoryUsageCount')}
            <li>
                <f:if condition="{category.item.uid} == {overwriteDemand.categories}">
                    <f:then>
                        <f:link.page title="{category.item.title}" class="active" pageUid="{settings.listPid}"
                            additionalParams="{tx_news_pi1:{overwriteDemand:{categories: category.item.uid}}}">
                            {category.item.title}
                        </f:link.page>
                    </f:then>
                    <f:else>
                        <f:link.page title="{category.item.title}" pageUid="{settings.listPid}"
                            additionalParams="{tx_news_pi1:{overwriteDemand:{categories: category.item.uid}}}">
                            {category.item.title}
                        </f:link.page>
                    </f:else>
                </f:if>
                ({categoryUsageCount})
                <f:if condition="{category.children}">
                    <f:render section="categorySubTree" arguments="{categories: category.children, overwriteDemand: overwriteDemand}" />
                </f:if>
            </li>
        </f:for>
    </ul>
</f:section>
</html>
