<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
    Top meta navigation, changeable by editor [FEATURE-nav-1]
    Use class "list-inline" for navigations [TASK-nav-1]
    Enable icons in top meta navigation [FEATURE-nav-2]
</f:comment>

<f:if condition="{metaHeadernavigation}">
    <ul class="list-inline">
        <f:for each="{metaHeadernavigation}" as="item" iteration="metaiteration">
            <li id="header-meta-item-{item.data.uid}"{f:if(condition: item.current, then: ' class="active"')}>
                <a href="{item.link}"{f:if(condition: item.target, then: ' target="{item.target}"')} class="header-meta-link-title" title="{item.title}">
                    <f:if condition="{item.icon}">
                        <span class="header-meta-icon">
                            <bk2k:icon icon="{item.icon}" width="{theme.metaHeader.icon.width}" height="{theme.metaHeader.icon.height}" />
                        </span>
                    </f:if>
                    <span class="header-meta-text">{item.title}</span>
                </a>
            </li>
        </f:for>
    </ul>
</f:if>
</html>
