<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>
    Use class "list-inline" for navigations [TASK-nav-1]
</f:comment>

<f:if condition="{metanavigation}">
    <ul class="list-inline">
        <f:for each="{metanavigation}" as="item" iteration="metaiteration">
            <li class="list-inline-item{f:if(condition: item.active, then:' active')}">
                <a href="{item.link}"{f:if(condition: item.target, then: ' target="{item.target}"')} title="{item.title}">
                    {item.title}
                </a>
            </li>
        </f:for>
    </ul>
</f:if>
</html>
