<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:bk2k="http://typo3.org/ns/BK2K/BootstrapPackage/ViewHelpers"
      xmlns:v="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">
<f:if condition="{files}">

    <f:variable name="imagecols">{data.imagecols as integer}</f:variable>
    <f:variable name="columnConfig">{settings.gallery.columns.{imagecols}}</f:variable>
    <bk2k:data.imageVariants as="variants" variants="{variants}" multiplier="{columnConfig.multiplier}" gutters="{columnConfig.gutters}" corrections="{columnConfig.corrections}" />
    <f:switch expression="{data.frame_class}">
        <f:comment>Slider with content element "Images Only" and Bootstrap [FEATURE-slider-3]</f:comment>
        <f:case value="slider">
            <f:asset.script identifier="t3basic.slider.bootstrap" src="EXT:t3basic/Resources/Public/JavaScript/t3basic.slider.bootstrap.js" />
            <div id="carousel-{data.uid}" class="carousel carousel-flexible slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <f:for each="{files}" as="file" iteration="iteration">
                        <div class="carousel-item{f:if(condition: iteration.isFirst, then: ' active')}">
                            <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings, variants: variants}" />
                        </div>
                    </f:for>
                </div>
                <button class="carousel-control carousel-control-prev" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="prev">
                    <span class="carousel-control-icon carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">
                        <f:translate key="slider.arrow.left" extensionName="t3basic" />
                    </span>
                </button>
                <button class="carousel-control carousel-control-next" type="button" data-bs-target="#carousel-{data.uid}" data-bs-slide="next">
                    <span class="carousel-control-icon carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">
                        <f:translate key="slider.arrow.right" extensionName="t3basic" />
                    </span>
                </button>
            </div>
        </f:case>
        <f:defaultCase>
            <div class="gallery-row">
                <f:for each="{files}" as="file" iteration="fileIteration">
                    <div class="gallery-item {columnConfig.class}">
                        <f:render partial="Media/Type" arguments="{file: file, data: data, settings: settings, variants: variants}" />
                    </div>
                </f:for>
            </div>
        </f:defaultCase>
    </f:switch>

</f:if>
</html>
