<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>EXT:indexed_search: Searchbox in header [FEATURE-search-2]</f:comment>

<f:form action="search" method="post" id="tx_indexedsearch" pageUid="{settings.targetPid}">
    <f:form.hidden name="search[_sections]" value="0" />
    <f:form.hidden name="search[_freeIndexUid]" id="tx_indexedsearch_freeIndexUid" value="_" />
    <f:form.hidden name="search[pointer]" id="tx_indexedsearch_pointer" value="0" />
    <f:form.hidden name="search[ext]" value="{searchParams.ext}" />
    <f:form.hidden name="search[searchType]" value="{searchParams.searchType}" />
    <f:form.hidden name="search[defaultOperand]" value="{searchParams.defaultOperand}" />
    <f:form.hidden name="search[mediaType]" value="{searchParams.mediaType}" />
    <f:form.hidden name="search[sortOrder]" value="{searchParams.sortOrder}" />
    <f:form.hidden name="search[group]" value="{searchParams.group}" />
    <f:form.hidden name="search[languageUid]" value="{searchParams.languageUid}" />
    <f:form.hidden name="search[desc]" value="{searchParams.desc}" />
    <f:form.hidden name="search[numberOfResults]" value="{searchParams.numberOfResults}" />
    <f:form.hidden name="search[extendedSearch]" value="{searchParams.extendedSearch}" />
    <fieldset>
        <legend class="visually-hidden">
            <f:translate key="form.legend" />
        </legend>
        <div class="input-group">
            <f:form.textfield name="search[sword]" type="search" value="{sword}" id="tx-indexedsearch-searchbox-sword" class="form-control" placeholder="{f:translate(key: 'form.searchFor')}" />
            <f:form.submit name="search[submitButton]" value="{f:translate(key: 'form.submit')}" id="tx-indexedsearch-searchbox-button-submit" class="btn btn-primary visually-hidden" />
        </div>
    </fieldset>
</f:form>

</html>
