<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:formvh="http://typo3.org/ns/TYPO3/CMS/Form/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>Adapt templates for Bootstrap (remove unneeded span tags and classes) [TASK-form-9]</f:comment>
<nav class="form-navigation">
    <div class="btn-group" role="group">
        <f:if condition="{form.previousPage}">
            <f:form.hidden property="__currentPage" value="{form.previousPage.index}" respectSubmittedDataValue="false"/>
            <f:form.button type="button" onclick="document.forms['{form.formDefinition.identifier}'].submit();" class="btn btn-default" formnovalidate="formnovalidate">{formvh:translateElementProperty(element: form.currentPage, renderingOptionProperty: 'previousButtonLabel')}</f:form.button>
        </f:if>
        <f:if condition="{form.nextPage}">
            <f:then>
                <f:form.button property="__currentPage" value="{form.nextPage.index}" class="btn btn-primary">{formvh:translateElementProperty(element: form.currentPage, renderingOptionProperty: 'nextButtonLabel')}</f:form.button>
            </f:then>
            <f:else>
                <f:form.button property="__currentPage" value="{form.pages -> f:count()}" class="btn btn-primary submit">
                    {formvh:translateElementProperty(element: form, renderingOptionProperty: 'submitButtonLabel')}
                </f:form.button>
            </f:else>
        </f:if>
    </div>
</nav>
</html>
