<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">

<f:comment>EXT:felogin: Adapt templates for Bootstrap [TASK-login-2]</f:comment>

<h2>
    <f:translate key="change_password_header"/>
</h2>
<p>
    <f:translate key="change_password_message" arguments="{0: settings.newPasswordMinLength}"/>
</p>

<f:render partial="ValidationErrors"/>

<f:form action="changePassword" method="post">
    <f:form.hidden name="hash" value="{hash}"/>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="felogin-newPass">
            <f:translate key="newpassword_label1"/>
        </label>
        <div class="col-sm-8">
            <f:form.password name="newPass" id="felogin-newPass" class="form-control" additionalAttributes="{autocomplete: 'new-password'}"/>
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-4 col-form-label" for="felogin-newPassRepeat">
            <f:translate key="newpassword_label2"/>
        </label>
        <div class="col-sm-8">
            <f:form.password name="newPassRepeat" id="felogin-newPassRepeat" class="form-control" additionalAttributes="{autocomplete: 'new-password'}"/>
        </div>
    </div>
    <div class="mb-3">
        <f:form.submit value="{f:translate(key: 'change_password')}" class="btn btn-primary"/>
    </div>
</f:form>

<p>
    <f:link.action action="login" controller="Login">
        <f:translate key="forgot_header_backToLogin"/>
    </f:link.action>
</p>
</html>
