<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
	  data-namespace-typo3-fluid="true">

<f:comment>EXT:indexed_search: Provide layout template [TASK-search-4]</f:comment>

<div class="tx-indexedsearch">
	<f:render section="Main" />
</div>

</html>
