//
// Form Group
// --------------------------------------------------
.form-group {
    margin-bottom: $spacer;
    input[type="file"] {
        @extend .form-control;
    }
}
fieldset.form-group {
    > *:last-child {
        margin-bottom: 0;
    }
}

//
// Feedback
//
.valid-feedback,
.invalid-feedback {
    display: block;
}

//
// Inputs
// --------------------------------------------------
.control-label {
    @extend .form-label;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: $font-weight-normal;
    line-height: 1.5;
    color: #212529;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-radius: .25rem;
    @include transition(border-color .15s ease-in-out, box-shadow .15s ease-in-out);
}
.form-check-label {
    input[type="checkbox"],
    input[type="radio"] {
        @extend .form-check-input;
    }
}
.radio {
    @extend .form-check;
}

//
// Validation & Help
// --------------------------------------------------
.help-block {
    @extend .form-text;
    &.error {
        @extend .invalid-feedback;
    }
    &.success {
        @extend .valid-feedback;
    }
}
$compat-form-invalid-validation-state: map-get($form-validation-states, "invalid");
$compat-form-invalid-validation-state-color: map-get($compat-form-invalid-validation-state, "color");
$compat-form-invalid-validation-state-icon: map-get($compat-form-invalid-validation-state, "icon");
.form-control.error {
    border-color: $compat-form-invalid-validation-state-color;
    @if $enable-validation-icons {
        padding-right: $input-height-inner;
        background-image: escape-svg($compat-form-invalid-validation-state-icon);
        background-repeat: no-repeat;
        background-position: right $input-height-inner-quarter center;
        background-size: $input-height-inner-half $input-height-inner-half;
    }
    &:focus {
        border-color: $compat-form-invalid-validation-state-color;
        box-shadow: 0 0 0 $input-focus-width rgba($compat-form-invalid-validation-state-color, .25);
    }
}
textarea.form-control.error {
    @if $enable-validation-icons {
        padding-right: $input-height-inner;
        background-position: top $input-height-inner-quarter right $input-height-inner-quarter;
    }
}

//
// Show/hide password in clear text [FEATURE-form-2]
// --------------------------------------------------
#show-hide-password {
    .show-hide-password-open {
        display: none;
    }
}
