<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:comment>EXT:news: Optimize HTML structure for images and videos [TASK-newstemplate-6]</f:comment>
<f:if condition="{media}">
	<div class="news-img-wrap">
		<f:for each="{media}" as="mediaElement">
			<div class="outer">
				<f:if condition="{mediaElement.originalResource.type} == 2 || {mediaElement.originalResource.type} == 5">
					<f:render partial="Media/Type/Image" arguments="{file: mediaElement, settings: settings.detail, variants: settings.detail.variants}"/>
				</f:if>
				<f:if condition="{mediaElement.originalResource.type} == 3 || {mediaElement.originalResource.type} == 4">
					<f:render partial="Media/Type/Video" arguments="{file: mediaElement, settings: settings.detail}"/>
				</f:if>
			</div>
		</f:for>
	</div>
</f:if>
</html>
