<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers"
      xmlns:n="http://typo3.org/ns/GeorgRinger/News/ViewHelpers"
      data-namespace-typo3-fluid="true">

<f:comment>EXT:news: Optimize templates [TASK-newstemplate-1]</f:comment>

<f:if condition="{settings.cssFile}">
    <n:includeFile path="{settings.cssFile}" />
</f:if>

<f:render section="content" />
</html>
